# Секретные файлы
.env
*.secret
vault_data/
secrets/
.vault/
vault_token.txt


# Docker volumes
**/pgduckdb_data/
**/mssql_data/
**/vault_data/

# DBT
target/
dbt_packages/
logs/
*.db
*.sqlite3

# Docker
.env
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
