services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_LOCAL_CONFIG: |
        ui = true
        storage "file" {
          path = "/vault/data"
        }
        listener "tcp" {
          address = "0.0.0.0:8200"
          tls_disable = 1
        }
        api_addr = "http://localhost:8200"
      VAULT_ADDR: "http://0.0.0.0:8200"
    volumes:
      - ./vault_data:/vault/data
      - ./vault_logs:/vault/logs
    cap_add:
      - IPC_LOCK
    command: server
    restart: unless-stopped

  vault-agent:
    image: hashicorp/vault:latest
    container_name: vault-agent
    depends_on:
      vault:
        condition: service_started
    volumes:
      - ./proxy-config-prod.hcl:/etc/vault/config.hcl:ro
      - ./vault_token.txt:/etc/vault/token:ro
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: "http://vault:8200"
      VAULT_AGENT_ADDR: "http://0.0.0.0:8100"
      HOME: "/tmp"
    command: >
      sh -c "
      echo 'Waiting for Vault to be ready...' &&
      sleep 5 &&
      echo 'Starting Vault Agent...' &&
      vault proxy -config=/etc/vault/config.hcl -log-level=info
      "
    restart: unless-stopped
    ports:
      - "8100:8100"

