{{- with secret "database/creds/pgduckdb-role" -}}
lakehouse:
  target: dev
  outputs:
    dev:
      type: postgres
      host: pgduckdb
      port: 5432
      user: postgres
      pass: '{{ .Data.password }}'
      dbname: postgres
      schema: analytics
      threads: 4
      retries: 3
{{- end }}
