{{- with secret "database/creds/mssql-role" -}}
export MSSQL_SA_PASSWORD="{{ .Data.password }}"
export MSSQL_CONNECTION_STRING="Server=mssql,1433;Database=master;User Id=sa;Password={{ .Data.password }};TrustServerCertificate=True;"
{{- end }}
