{{- with secret "database/creds/pgduckdb-role" -}}
export POSTGRES_PASSWORD="{{ .Data.password }}"
export POSTGRES_USER="postgres"
export DATABASE_URL="postgresql://postgres:{{ .Data.password }}@pgduckdb:5432/postgres"
{{- end }}
